@page "/business/assets"
@using static Microsoft.AspNetCore.Components.Web.RenderMode
@rendermode InteractiveServer
@attribute [Authorize]

<PageTitle>M201 Assets</PageTitle>

<section class="m201-assets">

    <div class="m201-assets__header">
        <div class="m201-assets__overline">M201</div>
        <h1 class="m201-assets__title">Assets</h1>
        <p class="m201-assets__description">
            Einstieg in die Anlagen- und Asset-Verwaltung.
        </p>
    </div>

    <div class="m201-assets__grid">

        <div class="m201-assets__card">
            <h3>Maschinen</h3>

            <p class="m201-assets__text">
                Maschinen, Hierarchien und organisatorische Zuordnungen verwalten.
            </p>

            <div class="m201-assets__actions">
                <a href="/machines" class="m201-button">
                    Öffnen
                </a>
            </div>
        </div>

    </div>

</section>


