@page "/business/inventory"
@using static Microsoft.AspNetCore.Components.Web.RenderMode
@rendermode InteractiveServer
@attribute [Authorize]

<PageTitle>M204 Inventory</PageTitle>

<section class="m204-inventory">

    <div class="m204-inventory__header">
        <div class="m204-inventory__overline">M204</div>
        <h1 class="m204-inventory__title">Inventory</h1>
        <p class="m204-inventory__description">
            Einstieg in Artikel, Lagerorte, Bewegungen und Reservierungen.
        </p>
    </div>

    <div class="m204-inventory__grid">

        <div class="m204-inventory__card">
            <h3>Artikel</h3>
            <p class="m204-inventory__text">
                Stammdaten und Artikelübersicht.
            </p>
            <a href="/business/inventory-items" class="m201-button">Öffnen</a>
        </div>

        <div class="m204-inventory__card">
            <h3>Lagerorte</h3>
            <p class="m204-inventory__text">
                Struktur und Orte verwalten.
            </p>
            <a href="/business/locations" class="m201-button">Öffnen</a>
        </div>

        <div class="m204-inventory__card">
            <h3>Reservierungen</h3>
            <p class="m204-inventory__text">
                Reservierte Bestände anzeigen und verwalten.
            </p>
            <a href="/business/stock-reservations" class="m201-button">Öffnen</a>
        </div>

        <div class="m204-inventory__card">
            <h3>Bewegungen</h3>
            <p class="m204-inventory__text">
                Lagerbewegungen und Bestandsänderungen.
            </p>
            <a href="/business/stock-movements" class="m201-button">Öffnen</a>
        </div>

    </div>

</section>


