@page "/m200/inventory-items"

<PageTitle>Inventory Items</PageTitle>

<div class="page">
    <h1>Inventory Items</h1>

    <p>
        M204 basic web integration is active.
    </p>

    <p>
        <a href="/m200/create-inventory-item">Create Inventory Item</a>
    </p>

    <ul>
        <li><a href="/m200/inventory-item/00000000-0000-0000-0000-000000000000">Open sample detail route</a></li>
        <li><a href="/m200/edit-inventory-item/00000000-0000-0000-0000-000000000000">Open sample edit route</a></li>
    </ul>
</div>