@page "/m200/stock-reservations"

<PageTitle>Stock Reservations</PageTitle>

<div class="page">
    <h1>Stock Reservations</h1>

    <p>
        M204.04 stock reservation list is active.
    </p>

    <p>
        <a href="/m200/create-stock-reservation">Create Stock Reservation</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Status</th>
                <th>Quantity</th>
                <th>Stock Id</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Active</td>
                <td>5</td>
                <td>00000000-0000-0000-0000-000000000000</td>
                <td>
                    <a href="/m200/stock-reservation/00000000-0000-0000-0000-000000000000">Details</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>