<section class="m202-help">
    <h2>Hilfe</h2>
    <p>Hier verwaltest du Wartungsaufträge und Wartungspläne.</p>
    <ul>
        <li>Arbeitsauftrag = konkrete Wartung</li>
        <li>Wartungsplan = Intervall / Erinnerung</li>
        <li>Materialbedarf = Referenz auf M204 Artikel</li>
        <li>Bestandsbuchung erfolgt nicht in M202</li>
    </ul>
</section>


