<header class="app-header">
    <div class="app-header__content">
        <div class="app-header__brand">
            <div class="app-header__title">SWFC</div>
            <div class="app-header__subtitle">Factory Control System</div>
        </div>

        <div class="app-header__center">
            <button type="button" class="app-header__pill app-header__pill--active">Leiter</button>
            <button type="button" class="app-header__pill">Lager</button>
            <button type="button" class="app-header__pill">Einkauf</button>
            <button type="button" class="app-header__pill">QS</button>
        </div>

        <div class="app-header__actions">
            <div class="app-header__search">Suche...</div>

            <div class="app-header__user">
                <div class="app-header__avatar">SW</div>
                <div class="app-header__user-text">
                    <div class="app-header__user-name">S. Wahl</div>
                    <div class="app-header__user-role">Entwickler</div>
                </div>
            </div>
        </div>
    </div>
</header>