<header class="m305-header">
    <div class="m305-header__content">
        <div>
            <h1 class="m305-header__title">SWFC</h1>
            <div class="m305-header__subtitle">Factory Control System</div>
        </div>

        <div class="m305-header__meta">
            User Placeholder
        </div>
    </div>
</header>